.profile {
  padding: 2em;
}

.profile h2 {
  padding-top: 0.5em;
}
.profile h3 {
  text-align: center;
  text-decoration: underline;
}

.profile__profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile__userdata {
  display: flex;
  align-items: center;
}

.profile__userdata img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin: 0.5em;
}
